

<div class="text-right">
  <button class="btn-success btn" (click)="setEtat()">
    <i class="fa fa-plus"></i>
  </button>
</div>

<div class="row" *ngIf="etat">
  <div class="col-md-6 mx-auto mb-4">

    <h1>New course</h1>
    <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="course.name" placeholder="name of course" name="name" value="" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input [(ngModel)]="course.author" placeholder="author of course" name="author" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input [(ngModel)]="course.category" placeholder="category of course" name="category" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input [(ngModel)]="course.price" placeholder="price of course" name="price" type="number" class="form-control">
    </div>

    <input type="checkbox" [(ngModel)]="course.isPublished">
    
    <button (click)="addCourse()" class="btn btn-primary btn-block">Add</button>
  </div>
</div>


<div class="row">
  <div class="col-md-8 mx-auto">
    <table class="table striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Price</th>
          <th>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses; index as i">
          <td>{{ course.name }}</td>
          <td>{{ course.author }}</td>
          <td>{{ course.price }}</td>
          <td>{{ course.category }}</td>
          <td>
            <button class="btn btn-sm btn-warning mr-1">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="deleteCourse(i)" class="btn btn-sm btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>