

<div class="row">
    <div class="col-md-4 mx-auto">
  
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" [(ngModel)]="user.email" name="email" type="text" class="form-control">
          </div>
  
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" [(ngModel)]="user.password" name="password" type="text" class="form-control">
              </div>
  
            <button (click)="login()" class="btn btn-warning btn-block">Login</button>
          
        </div>
      </div>
  
    </div>
  </div>